### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed to allow for efficient storage, retrieval, and manipulation of data. A database can be of various types, including SQL and NoSQL databases.

The main differences between SQL and NoSQL databases are:

1. Data model: SQL databases use a structured, table-based model, while NoSQL databases use a non-structured or semi-structured model.
2. Query language: SQL databases use SQL for querying and data manipulation, while NoSQL databases use their own query languages, such as MongoDB Query Language (MQL) or Cassandra Query Language (CQL).
3. Scalability: NoSQL databases are more scalable than SQL databases, as they are designed for distributed architectures and can easily handle large amounts of data and high traffic volumes.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language and is used to define the structure and schema of a database. DDL statements are used to create, modify, and delete database objects, such as tables, indexes, and constraints.

Some examples of DDL statements and their uses are:

* CREATE: Used to create a new database object, such as a table or index.

CREATE TABLE customers (
   id INT NOT NULL,
   name VARCHAR(50) NOT NULL,
   email VARCHAR(50),
   PRIMARY KEY (id)
);

This statement creates a new table called "customers" with three columns: "id", "name", and "email". The "id" column is set as the primary key.

* DROP: Used to delete an existing database object.

DROP TABLE customers;

This statement deletes the "customers" table.

* ALTER: Used to modify an existing database object.

ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

This statement adds a new column called "phone" to the "customers" table.

* TRUNCATE: Used to delete all data from a table.`

TRUNCATE TABLE customers;

This statement deletes all data from the "customers" table, but keeps the table structure.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language and is used to manipulate data in a database. DML statements are used to insert, update, and delete data in a table.

Some examples of DML statements and their uses are:

* INSERT: Used to insert new data into a table.

INSERT INTO customers (id, name, email) VALUES (1, 'Dishank Hanwate', 'dishank@gmail.com');

This statement inserts a new row into the "customers" table with the values "1" for the "id" column, "Dishank Hanwate" for the "name" column, and "dishank@hanwate.com" for the "email" column.

* UPDATE: Used to update existing data in a table.

UPDATE customers SET email = 'dishank.hanwate@example.com' WHERE id = 1;

This statement updates the "email" with "dishank.hanwate@example.com" where the "id" of the row is "1"

* DELETE: Used to delete data from a table.

DELETE FROM customers WHERE id = 1;

This statement deletes the row from the "customers" table where the value of the "id" column is equal to 1.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language and is used to retrieve data from a database. DQL statements are used to query a table and retrieve data based on specific criteria.

Here is an example of a SELECT statement and its use:

* SELECT: Used to retrieve data from one or more tables.

SELECT name, email FROM customers WHERE id = 1;

This statement retrieves the values of the "name" and "email" columns from the "customers" table where the value of the "id" column is equal to 1.

### Q5. Explain Primary Key and Foreign Key.

A primary key is a unique identifier for a row in a table. It is used to ensure that each row in the table can be uniquely identified and that there are no duplicates. A primary key can be a single column or a combination of columns, and it is used to enforce referential integrity and establish relationships between tables.

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish relationships between tables and enforce referential integrity. A foreign key ensures that a row in one table cannot be deleted if it is referenced by a row in another table, and it helps maintain consistency and accuracy in the database.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cursor = mydb.cursor()

# Execute a query
cursor.execute('SELECT * FROM customers')

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

The cursor() method creates a cursor object that is used to execute SQL statements and retrieve results.

The execute() method is used to execute an SQL statement and can take parameters, such as a query string or a tuple of values to be used in a prepared statement.

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM: Specifies the table or tables from which to retrieve data.
2. JOIN: Joins two or more tables together based on a specified condition.
3. WHERE: Filters the data based on a specified condition.
4. GROUP BY: Groups the data based on a specified column or columns.
5. HAVING: Filters the grouped data based on a specified condition.
6. SELECT: Retrieves the data from the specified columns.
7. DISTINCT: Filters out duplicate values from the results.
8. ORDER BY: Sorts the results based on a specified column or columns.
9. LIMIT: Limits the number of results returned.