### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular non-relational (NoSQL) database that stores data in flexible, JSON-like documents, rather than in tables with fixed columns and rows like SQL databases. Non-relational databases offer a more flexible approach to storing and querying data, which makes them ideal for applications with rapidly changing data requirements, large amounts of unstructured or semi-structured data, or distributed and scalable systems. MongoDB is preferred over SQL databases in scenarios where the data is unstructured, schemaless or when the volume of data is huge, and requires a horizontally scalable database.

### Q2. State and Explain the features of MongoDB.

* Document-oriented: Data is stored in flexible and dynamic documents using a JSON-like format.
* Schemaless: Documents do not require a predefined schema, which provides flexibility in data modeling.
* High-performance: MongoDB can handle large volumes of data and high throughput workloads.
* Horizontal scalability: Data can be distributed across multiple servers to handle increasing data loads.
* Powerful query language: MongoDB supports a rich and expressive query language, including support for joins and aggregation.
* Indexing: Supports indexing of fields and arrays for faster query performance.
* Automatic sharding: Data can be automatically partitioned and distributed across multiple nodes for horizontal scaling.
* Open-source: MongoDB is available as an open-source community edition, as well as a commercially supported enterprise edition.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://dishank:dishank1404@dishankcluster.jib58aa.mongodb.net/?retryWrites=true&w=majority")
db = client.test

db1 = client["DishankDB1"]

collection1 = db1["collection1"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
# Insert one record
mydict = { "name": "Dishank", "address": "Mumbai 68" }
x = collection1.insert_one(mydict)

# Insert many records
mylist = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "Mumbai 68" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Mumbai 68" },
  { "name": "Viola", "address": "Sideway 1633" }
]
x = collection1.insert_many(mylist)

# Print the inserted records
print(collection1.find_one())
for x in collection1.find():
  print(x)

{'_id': ObjectId('63f0aad30153c4343d1eead7'), 'name': 'Dishank', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eead7'), 'name': 'Dishank', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eead8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0aad30153c4343d1eead9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f0aad30153c4343d1eeada'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f0aad30153c4343d1eeadb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f0aad30153c4343d1eeadc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f0aad30153c4343d1eeadd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f0aad30153c4343d1eeade'), 'name': 'Susan', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeadf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f0aad30153c4343d1eeae0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f0aad30153c4343d1eeae1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f0aad30153c4343d1eeae2'), 'name': 'Chuck', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeae3'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method is used to query the MongoDB database to retrieve documents that match a specified filter. The filter is a document that contains one or more fields and their values. The find() method returns a cursor object that can be used to iterate over the matching documents. Here's an example code snippet to demonstrate the use of find():

In [12]:
# Query the database
myquery = { "address": "Mumbai 68" }
mydocs = collection1.find(myquery)

# Print the matching documents
for x in mydocs:
  print(x)

{'_id': ObjectId('63f0aad30153c4343d1eead7'), 'name': 'Dishank', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeade'), 'name': 'Susan', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeae2'), 'name': 'Chuck', 'address': 'Mumbai 68'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method is used to sort the results of a query in MongoDB. It takes a field or a set of fields as input, and sorts the documents in ascending or descending order based on the specified field(s). Here's an example code snippet to demonstrate sorting in MongoDB:

In [17]:
mydocs = collection1.find().sort("name")

for x in mydocs:
  print(x)

print()
print("#"*100)
print()
mydocs = collection1.find().sort("name", -1)

for x in mydocs:
  print(x)

{'_id': ObjectId('63f0aad30153c4343d1eead8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0aad30153c4343d1eeae0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f0aad30153c4343d1eeadc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f0aad30153c4343d1eeae2'), 'name': 'Chuck', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eead7'), 'name': 'Dishank', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eead9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f0aad30153c4343d1eeada'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f0aad30153c4343d1eeadd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f0aad30153c4343d1eeadb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f0aad30153c4343d1eeade'), 'name': 'Susan', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeadf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f0aad30153c4343d1eeae3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f0aad30153c4343d1eeae1'), 'name': 'William', 'address': 'Central st 954'}

####################################################################################################

{'_id': ObjectId('63f0aad30153c4343d1eeae1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f0aad30153c4343d1eeae3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f0aad30153c4343d1eeadf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f0aad30153c4343d1eeade'), 'name': 'Susan', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeadb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f0aad30153c4343d1eeadd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f0aad30153c4343d1eeada'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f0aad30153c4343d1eead9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f0aad30153c4343d1eead7'), 'name': 'Dishank', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeae2'), 'name': 'Chuck', 'address': 'Mumbai 68'}
{'_id': ObjectId('63f0aad30153c4343d1eeadc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f0aad30153c4343d1eeae0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f0aad30153c4343d1eead8'), 'name': 'Amy', 'address': 'Apple st 652'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

The delete_one() method is used to delete a single document that matches a specified filter, while the delete_many() method is used to delete multiple documents that match a specified filter. The drop() method is used to drop a collection from a database.

In [18]:
# Delete a single document
myquery = { "name": "Dishank" }
collection1.delete_one(myquery)

# Delete multiple documents
myquery = { "address": { "$regex": "^S" } }
collection1.delete_many(myquery)

The drop() method can be used as follows:

In [19]:
collection1.drop()