### Q1. List any five functions of the pandas library with execution.

1. read_csv(): This function is used to read a CSV file and create a pandas DataFrame from it.

In [ ]:
import pandas as pd
df = pd.read_csv('filename.csv')

2. head(): This function is used to display the first few rows of a DataFrame.

In [ ]:
df.head()

3. merge(): This function is used to merge two DataFrames based on a common column.

In [ ]:
df1.merge(df2, on='common_column')

4. describe(): This function is used to generate descriptive statistics of the DataFrame.

In [ ]:
df.describe()

5. groupby(): This function is used to group the DataFrame by one or more columns and perform some operation on the groups.

In [ ]:
grouped = df.groupby('column_name')
grouped.mean()

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [7]:
import pandas as pd

def reindex_func(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    new_df = df.set_index(new_index)
    return new_df

data = {"a":[1,2,3,4],
       "b":[4,5,6,7],
       "c":["Dishank" , "Rahul","Pradeep","Bhumi"]}

df =  pd.DataFrame(data)

print(reindex_func(df))

   a  b        c
1  1  4  Dishank
3  2  5    Rahul
5  3  6  Pradeep
7  4  7    Bhumi

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [11]:
import pandas as pd

def sum_three_values(df):
    values_col = df['Values']
    sum_first_three = 0
    for i, value in enumerate(values_col):
        if i >= 3:
            break
        sum_first_three += value
    print("Sum of the first three values:", sum_first_three)

data = {"a":[1,2,3,4],
       "Values":[4,5,6,7],
       "c":["Dishank" , "Rahul","Pradeep","Bhumi"]}

df =  pd.DataFrame(data)

sum_three_values(data)

Sum of the first three values: 15

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [14]:
def add_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

data = {"a":[1,2,3,4],
       "Values":[4,5,6,7],
       "Text":["Dishank Dishank Dishank Dishank" , "Rahul Rahul Rahul Rahul Rahul Rahul","Pradeep Pradeep","Bhumi"]}

df =  pd.DataFrame(data)

print(add_column(df))

   a  Values                                 Text  Word_Count
0  1       4      Dishank Dishank Dishank Dishank           4
1  2       5  Rahul Rahul Rahul Rahul Rahul Rahul           6
2  3       6                      Pradeep Pradeep           2
3  4       7                                Bhumi           1

### Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. In other words, DataFrame.size() returns the total number of cells in the DataFrame.

DataFrame.shape() returns a tuple of the number of rows and the number of columns in the DataFrame. In other words, DataFrame.shape() returns the dimensions of the DataFrame as a tuple of the form (number of rows, number of columns).

In [15]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

print(df.size)

print(df.shape)

9
(3, 3)

### Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in pandas, we use the read_excel() function.

In [ ]:
import pandas as pd

df = pd.read_excel('filename.xlsx', sheet_name='Sheet1')

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [19]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

data = {"a":[1,2,3,4],
       "Values":[4,5,6,7],
       "Email":["Dishank@gmail.com" , "Rahul@gmail.com","Pradeep.Ingle@gmail.com","Bhumi@gmail.com"]}

df =  pd.DataFrame(data)

print(extract_username(df))

   a  Values                    Email       Username
0  1       4        Dishank@gmail.com        Dishank
1  2       5          Rahul@gmail.com          Rahul
2  3       6  Pradeep.Ingle@gmail.com  Pradeep.Ingle
3  4       7          Bhumi@gmail.com          Bhumi

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:

A B C <br> 
0 3 5 1 <br> 
1 8 2 7 <br> 
2 6 9 4 <br> 
3 2 3 5 <br> 
4 9 1 2 <br> 
Your function should select the following rows: 

A B C <br> 
1 8 2 7 <br> 
4 9 1 2 <br> 
The function should return a new DataFrame that contains only the selected rows.

In [20]:
import pandas as pd

def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

data = {"A":[3,8,6,2,9],
       "B":[5,2,9,3,1],
       "C":[1,7,4,5,2]}

df =  pd.DataFrame(data)

print(select_rows(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [36]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    print("Mean:", mean)
    print("Median:", median)
    print("Standard deviation:", std)

data = {"a":[1,2,3,4],
       "Values":[4,5,6,7],
       "c":["Dishank" , "Rahul","Pradeep","Bhumi"]}

df =  pd.DataFrame(data)

calculate_stats(df)

Mean: 5.5
Median: 5.5
Standard deviation: 1.2909944487358056

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [66]:
import pandas as pd

data = {'Date': pd.date_range(start='2023-01-01', end='2023-01-31'),
        'Sales': [50, 35, 45, 55, 60, 70, 80, 75, 85, 90, 65, 55, 50, 40, 35, 45, 55, 60, 70, 80, 
                  75, 85, 90, 65, 55, 50, 40, 35, 45, 55, 43]}
df = pd.DataFrame(data)
ma = df['Sales'].rolling(window=7, min_periods=1).mean()

df['MovingAverage'] = ma

print(df)

         Date  Sales  MovingAverage
0  2023-01-01     50      50.000000
1  2023-01-02     35      42.500000
2  2023-01-03     45      43.333333
3  2023-01-04     55      46.250000
4  2023-01-05     60      49.000000
5  2023-01-06     70      52.500000
6  2023-01-07     80      56.428571
7  2023-01-08     75      60.000000
8  2023-01-09     85      67.142857
9  2023-01-10     90      73.571429
10 2023-01-11     65      75.000000
11 2023-01-12     55      74.285714
12 2023-01-13     50      71.428571
13 2023-01-14     40      65.714286
14 2023-01-15     35      60.000000
15 2023-01-16     45      54.285714
16 2023-01-17     55      49.285714
17 2023-01-18     60      48.571429
18 2023-01-19     70      50.714286
19 2023-01-20     80      55.000000
20 2023-01-21     75      60.000000
21 2023-01-22     85      67.142857
22 2023-01-23     90      73.571429
23 2023-01-24     65      75.000000
24 2023-01-25     55      74.285714
25 2023-01-26     50      71.428571
26 2023-01-27     40      65.714286
27 2023-01-28     35      60.000000
28 2023-01-29     45      54.285714
29 2023-01-30     55      49.285714
30 2023-01-31     43      46.142857

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:

Date </br>
0 2023-01-01 </br>
1 2023-01-02 </br>
2 2023-01-03 </br>
3 2023-01-04 </br>
4 2023-01-05

Your function should create the following DataFrame:

Date Weekday </br>
0 2023-01-01 Sunday </br>
1 2023-01-02 Monday </br>
2 2023-01-03 Tuesday </br>
3 2023-01-04 Wednesday </br>
4 2023-01-05 Thursday </br>
The function should return the modified DataFrame.

In [37]:
import pandas as pd

def add_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [76]:
import pandas as pd

def select_date_range(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    return df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

df = pd.DataFrame({
    'Date': ['2023-01-01', '2022-01-01', '2023-01-02', '2023-01-15', '2023-01-20', '2023-02-01']
})

new_df = select_date_range(df)
print(new_df)

         Date
0  2023-01-01
2  2023-01-02
3  2023-01-15
4  2023-01-20

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

In [69]:
import pandas as pd

###

###

###